@model IEnumerable<Covem_web.modelo_Completa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Principal.cshtml";
}


<div class="card">
    <div class="card-body">
        <h4 class="card-title">Lista de Modelos</h4>
        <p>
            @Html.ActionLink("Registrar Nuevo Modelo", "Create")
        </p>

        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table id="order-listing" class="table">
                        <thead>
                            <tr>
                                <th>Modelo</th>
                                <th>Autos en la empresa de este Modelo </th>

                                <th>Acciones</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="py-1">
                                        <div class="d-flex align-items-center">
                                            <img src="@item.Marca.foto" alt="image" />
                                            <div class="ms-3">
                                                <p class="mb-0">@item.Marca.Marca1  @item.modelo.modelo1</p>
                                            </div>
                                        </div>

                                    </td>

                                    <td>@item.autos </td>
                                    <td>
                                        @Html.ActionLink("Editar", "edit", new { id = item.modelo.id }) |
                                        @Html.ActionLink("Eliminar", "Delete", new { id = item.modelo.id, @class = "btn btn-outline-success" }, new { onclick = "return confirm('Seguro de eliminar esta Marca? ');" })

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

