@model Covem_web.servicios

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout_Principal.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>servicios</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.nombreServicio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nombreServicio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nombreServicio, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.idcategoria, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.idcategoria, ViewBag.Categorias as SelectList, "--Seleccione Categoria--", new { @class = "form-control" })

            @* @Html.DropDownListFor(model => model.idcategoria, (SelectList)ViewBag.Categorias, String.Empty)
                @Html.EditorFor(model => model.idcategoria, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.idcategoria, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        Meses para volver a generar Servicios (0 no aplica )
        <div class="col-md-10">
            @Html.EditorFor(model => model.semanasGarantiaservicio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.semanasGarantiaservicio, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
      Kilometraje para proximo Servicio
        <div class="col-md-10">
            @Html.EditorFor(model => model.KilometrosProximoServicio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.KilometrosProximoServicio, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.diasRealizarServicio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.diasRealizarServicio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.diasRealizarServicio, "", new { @class = "text-danger" })
        </div>
    </div>

    

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
            